.titleContainer {
  margin-left: 5rem;
}
.row {
  font-family: sans-serif;
  margin: 0px 6%;
  margin-bottom: 40px;

  .loadingRow {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .container {
    margin: 0px;
  }
  .noData {
    display: flex;
    justify-content: center;
  }
}
