@import "../../styles/globalStyles.module.scss";

.link{
  text-decoration: none;
  margin-left: 0px;

  &:hover{
    text-decoration: none;
  }
  .row {
    margin: 3%;
    margin-left: 0px;
    font-family: sans-serif;
    &:hover {
      cursor: pointer;
    }
    .title {
      color: $primary;
      border-bottom: 1px solid lightgray;
      font-size: 38px;
    }
  }
}
