@import "../../styles/globalStyles.module.scss";

.titleRow {
    font-family: sans-serif;
    &:hover {
      cursor: pointer;
    }
    .title {
      margin-left: 40px;
      color: $primary;
      border-bottom: 1px solid lightgray;
      font-size: 38px;
    }
  }